<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Selbsthilfefreizeitwerk e.V.</title>
    <meta name="description" content="Offizielle Homepage des Selbsthilfefreizeitwerk e.V.">

    <meta name="keywords" lang="de" 
     content="Freizeiten, Selbsthilfe, Selbsthilfegruppen, therapeutische Gemeinschaft, A-Freizeiten, Anonyme Alkoholiker, Alcoholics Anonymous, AA, CODA, SLAA, Al-Anon, Overeater Anonymous, Anonyme Arbeitssüchtige, AA-Gruppen, AA Gruppen, 12-Schritte-Gruppen, Sucht, Emotions Anonymous, Bad Herrenalber Modell, Recovery, Genesung, EKS, Erwachsene Kinder aus Dysfunktionalen Familien">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="index.html"><img src="images/logo-selbsthilfe-freizeitwerk.jpg"></a>
        <p class="header">Homepage des Selbsthilfe-Freizeitwerk e.V.</p>
        <nav>
        {% for p in site.pages %}
        {% if p.title == "error" or p.title == "" or p.title == "Impressum" %}
        {% else %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="https://www.selbsthilfe-freizeitwerk.de/pdf/Beitrittserkla%CC%88rung_neu_2018.pdf">Beitrittserklärung</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="mailto:webmaster@a-freizeiten.de">Mail an Webmaster</a></li>
        </nav>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
         <div><a href="/datenschutz">Datenschutzhinweis</a></div>
        <p>
          <a href="https://github.com/selbsthilfefreizeitwerk/selbsthilfefreizeitwerk.github.io/issues">Problem Melden (Issue)</a></li>
        </p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
